/* Code By Nishant_0073 */
*{
    padding: 0%;
    margin: 0%;
}
html
{

  background-color: rgb(2, 12, 3);
}

.size{
    float: left;
    padding: 10%;
}
.chars{
    float: left;
    padding: 10%;
}

.terminal{
    text-align: left;
    border: black;
    border-radius: 5px;
    margin-top: 3%;
    font-size:1vw;
    color:rgb(15, 238, 26);
    background-color: black;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Orbitron', sans-serif;
}
select,input
{
    font-size: 15px;
    background-color: rgb(2, 12, 3); 
    color: rgb(15, 238, 26) ;
    font-family: 'Inconsolata', monospace;
}

#password{
    text-align: center;
    padding: 10%;
    border: black;
    font-family: 'Orbitron', sans-serif;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    font-size:4vw;
    color:rgb(15, 238, 26);
    background-color: black;

}
.colomn {
    float: left;
    width: 50%;
    text-align: left;
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
    color:rgb(15, 238, 26);
}
  

.row:after {
    content: "";
    align-content: center;
    display: table;
    clear: both;
}


button {
  
  margin-left: 40%;
  margin-top: 3%;
  padding: 1em 2.1em 1.1em;
  border-radius: 3px;
  color: #10ca28;
  background-color: #3a16da;
  display: inline-block;
  background: #030303;
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  position: relative;
}
button:hover, button:focus {
  opacity: 0.8;
}
button:active {
  -webkit-transform: scale(0.80);
  -moz-transform: scale(0.80);
  -ms-transform: scale(0.80);
  -o-transform: scale(0.80);
  transform: scale(0.80);
}
button.block {
  display: block !important;
}
button.circular {
border-radius: 50em !important;
}



.input{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 15px;
}

#name
{
     font-family: 'Marck Script', cursive;
     position: fixed; 
     width: 100%; 
     margin-left: 40%;
     color: rgb(15, 238, 26);
     font-size: 10px;
}

